<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
	</configSections>

	<appSettings>
		<add key="browser" value="Chrome"/>
		<add key="pageUrl" value="https://demoqa.com/"/>
		<add key="shortTimeout" value="5"/>
		<add key="longTimeout" value="15"/>
		
		<add key="username" value="standard_user"/>
		<add key="password" value="secret_sauce"/>

		<add key="log4net.Internal.Debug" value="true"/>

		<!--Forms - Test data-->
		<add key="username" value="standard_user"/>
		<add key="password" value="secret_sauce"/>
	</appSettings>
</configuration>